<nav>
    <ul>
        <li ><a href="/">Contact</a></li>
        <li ><a href="/admin">admin</a></li>
    </ul>
</nav>
<style>
    ul{
        display: flex;
        justify-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        text-decoration: blanchedalmond;
        color: blanchedalmond;
    }
    li{
        margin-left: 3rem;
        font-size: 2rem;
        list-style: none;
        text-decoration: blanchedalmond;
        color: blanchedalmond;
    }
    nav{
        background-color: black;

    }
</style>