<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
        <h3>Colorlib Contact Form</h3>
        <h4>Contact us for custom quote</h4>
        <form action="sucess" method="post" id="contact">
       
            <fieldset>
                <input type="text" placeholder="firstname" name="firstname" tabindex="0"><br>
            </fieldset>
            <fieldset>
                <input type="text" placeholder="lastname" name="lastname"tabindex="1"><br>
            </fieldset>
            <fieldset>
                <input placeholder="Your Email Address" type="email" name="email" tabindex="2" required><br>
            </fieldset>
            <fieldset>
                <input placeholder="Your Phone Number (optional)" type="tel" name="tel" tabindex="3" required><br>
            </fieldset>
            <fieldset>
                <input placeholder="Your Web Site (optional)" type="url" name="url" tabindex="4"><br>
            </fieldset>
            <fieldset>
                <textarea placeholder="Type your message here...." type="text" tabindex="5" name="message" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>            </fieldset>
            

    </form>
    </div>
</body>
</html>